/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1{
  display: flex;
  justify-content: center;
}
section {
  display: flex;
  padding: 50px;
}

.hidden{
	display: none;
}

th, td {
  padding: 15px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
